<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<button (click)="generar()"> generar</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step  >
    <form >
      <ng-template matStepLabel>Definicion</ng-template>

      <mat-chip>One fish</mat-chip>

      <div class="fields-container">
        <mat-form-field class="example-half-width">
          <input matInput placeholder="Nombre del Producto o Servicio">
        </mat-form-field>

      </div>

      <mat-form-field class="example-half-width">
        <mat-label>Seleccione una Area</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="fields-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Descripcion del Producto o Servicio">
        </mat-form-field>

      </div>



      <div>
        <button color="primary" mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form >
      <ng-template matStepLabel>Identificacion</ng-template>

      <mat-chip>En esta etapa la CMAC PIURA SAC debera identificar los riesgos de LAFT inherentes al desarrollo de sus
        actividades de intermiadiacion financiera, teniendo en cuenta los Factores de Riesgo : Clientes , Productos y/o
        Servicios
        y Zona Geografica.
      </mat-chip>
<!--
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
        
            <mat-option *ngFor="let identificacion of identificaciones" [value]="identificacion"  >
                {{identificacion.descripcionIdentificacion}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{selected1.descripcionIdentificacion}}</p>      

      <mat-form-field style="width: 80%;">
        <mat-select [(ngModel)]="addModel" placeholder=" list"  >
          <mat-option *ngFor="let identificacion of identificaciones" [value]="identificacion"  >
            {{identificacion.descripcionIdentificacion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
-->
      <button mat-raised-button (click)="addModel()" style="margin: 10px">Agregar</button>

      <mat-tab-group  style="width: 100%; margin-top: 4%">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">perm_identity</mat-icon>
            CLIENTES
          </ng-template>


          <mat-table #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef>Seleccion</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.checked"(click)="selectClientes(element) "></mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="descripcionCarateristica">
              <mat-header-cell *matHeaderCellDef> Caracteristica </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionCarateristica}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="descripcionIdentificacion">
              <mat-header-cell *matHeaderCellDef> Identificacion </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionIdentificacion}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="impacto">
              <mat-header-cell *matHeaderCellDef> Impacto </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.impacto}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="calificacion">
              <mat-header-cell *matHeaderCellDef> Calificacion </mat-header-cell>
              <mat-cell *matCellDef="let element">  <mat-chip>{{element.calificacion}}</mat-chip> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="probabilidad">
              <mat-header-cell *matHeaderCellDef> Probabilidad </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.probabilidad}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" 
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
          </mat-table>


          

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">work_outline</mat-icon>
            PRODUCTOS Y/O SERVICIOS
          </ng-template>


          <mat-table #table [dataSource]="dataSourceProductos">

            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef>Seleccion</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.checked" (click)="selectProductos(element)"></mat-checkbox>
              </mat-cell>
            </ng-container>


            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="descripcionCarateristica">
              <mat-header-cell *matHeaderCellDef> Caracteristica </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionCarateristica}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="descripcionIdentificacion">
              <mat-header-cell *matHeaderCellDef> Identificacion </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionIdentificacion}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="impacto">
              <mat-header-cell *matHeaderCellDef> Impacto </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.impacto}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="calificacion">
              <mat-header-cell *matHeaderCellDef> Calificacion </mat-header-cell>
              <mat-cell *matCellDef="let element">  <mat-chip>{{element.calificacion}}</mat-chip></mat-cell>
            </ng-container>

            <ng-container matColumnDef="probabilidad">
              <mat-header-cell *matHeaderCellDef> Probabilidad </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.probabilidad}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" 
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
          </mat-table>




        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">language</mat-icon>
            ZONA GEOGRAFICA
          </ng-template>

  <!--
          <mat-table #table [dataSource]="dataSourceZona">


            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef>Seleccion</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
              </mat-cell>
            </ng-container>


            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="descripcionCarateristica">
              <mat-header-cell *matHeaderCellDef> Caracteristica </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionCarateristica}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="descripcionIdentificacion">
              <mat-header-cell *matHeaderCellDef> Identificacion </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionIdentificacion}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="impacto">
              <mat-header-cell *matHeaderCellDef> Impacto </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.impacto}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="calificacion">
              <mat-header-cell *matHeaderCellDef> Calificacion </mat-header-cell>
              <mat-cell *matCellDef="let element">  <mat-chip>{{element.calificacion}}</mat-chip>  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="probabilidad">
              <mat-header-cell *matHeaderCellDef> Probabilidad </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.probabilidad}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="selectZona(row)"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
          </mat-table>
        -->
        </mat-tab>


      </mat-tab-group>
      <div style="margin-right: 0%;">
          <button style="margin-right: 0.5%;" color="primary" mat-raised-button matStepperPrevious>Atras</button>
          <button color="primary" mat-raised-button matStepperNext>Siguiente</button>
        </div>


    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Evaluacion /Control</ng-template>
    

    <div style=" margin-top: 2%"  [hidden]="pantallaControl" >


      <div style="margin-right: 0%;">
        <button style="margin-right: 0.5%;" color="primary" (click)="pantallaControl=!pantallaControl" mat-raised-button >VOLVER</button>
        <button color="primary" mat-raised-button matStepperNext>GUARDAR</button>
      </div>
      
      <mat-chip>Se debera identificar y evaluar los controles actuales con los que cuenta la CMAC PIURA SAC , en sus
        procedimientos
        establecidos que ayuden a mitigar el riesgo de LAFT y de ser necesario , tomar las medidas para modificarlas
        y/o implementar nuevos controles en caso de ausencia de estos o que los actuales sean debiles o no se esten
        aplicando
      </mat-chip>
     
      <div>
        <mat-form-field>

          <mat-label>PROBABILIDAD</mat-label>
          <mat-select [disabled]="true" [(value)]="Probabilidad">
            <mat-option>None</mat-option>
            <mat-option value="MUY ALTA">MUY ALTA</mat-option>
            <mat-option value="ALTA">ALTA</mat-option>
            <mat-option value="MEDIA">MEDIA</mat-option>
            <mat-option value=">BAJA">BAJA</mat-option>
            <mat-option value="MUY BAJA">MUY BAJA</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>IMPACTO</mat-label>
          <mat-select [disabled]="true" [(value)]="Impacto">
            <mat-option>None</mat-option>
            <mat-option value="MUY ALTA">MUY ALTA</mat-option>
            <mat-option value="ALTA">ALTA</mat-option>
            <mat-option value="MEDIA">MEDIA</mat-option>
            <mat-option value=">BAJA">BAJA</mat-option>
            <mat-option value="MUY BAJA">MUY BAJA</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>RIESGO INHERENTE</mat-label>
          <mat-select [disabled]="true" [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="EXTREMO">EXTREMO</mat-option>
            <mat-option value="ALTO">ALTO</mat-option>
            <mat-option value="MODERADO">MODERADO</mat-option>
            <mat-option value="BAJO">BAJO</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>RIESGO RESIDUAL</mat-label>
          <mat-select [disabled]="true" [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="EXTREMO">EXTREMO</mat-option>
            <mat-option value="ALTO">ALTO</mat-option>
            <mat-option value="MODERADO">MODERADO</mat-option>
            <mat-option value="BAJO">BAJO</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      


      <mat-card  >
        <mat-card-content >
          <h2 class="example-h2">Alta</h2>

          <mat-progress-spinner  class="example-margin" [color]="color" [mode]="mode" [value]="value">
          </mat-progress-spinner>
        </mat-card-content>
      </mat-card>

      <mat-table #table [dataSource]="dataSourceControls">

          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="checked">
            <mat-header-cell *matHeaderCellDef>Seleccion</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox [(ngModel)]="element.checked"(click)="SelectControl(element) "></mat-checkbox>
            </mat-cell>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="cargo">
            <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cargo}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="calificacion">
            <mat-header-cell *matHeaderCellDef> Calificacion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.calificacion}} </mat-cell>
          </ng-container>

          

          <mat-header-row *matHeaderRowDef="displayedColumnsControls"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsControls;"
            [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" 
            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
        </mat-table>


    </div>

    <div style=" margin-top: 4%"  [hidden]="!pantallaControl" >

     <mat-chip>A partir del proceso de identificacion , la CMAC PIURA SAC , procedera a determinar su perfil a exposicion
      al riesgo inherente de LAFT con base a la posibilidad o probabilidad de ocurrencia e impacto de riesgo inherente
      de LAFT respecto a cada uno de los factores de riesgo identificados y su clasificacion.El resultado de estas
      mediciones
      sera cualitativo
    </mat-chip>

    <table style=" width: 100%;" mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="probabilidad">
        <th mat-header-cell *matHeaderCellDef> Probabilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.probabilidad}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="impacto">
        <th mat-header-cell *matHeaderCellDef> Impacto </th>
        <td mat-cell *matCellDef="let element"> {{element.impacto}} </td>
      </ng-container>



      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="evaluar(element)"  style=" margin-right: 4%" mat-raised-button color="primary">Evaluar</button>
          <button mat-raised-button color="primary">X</button>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>


    </div>

  
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>